{# src/FrontendBundle/Resources/views/User/reset.html.twig #}

{% extends 'FrontendBundle::frontend-layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<!-- MAIN CONTENT -->
<div id="content" class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
			<h1 class="txt-color-red login-header-big">SmartAdmin</h1>
			<div class="hero">

				<div class="pull-left login-desc-box-l">
					<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
					<div class="login-app-icons">
						<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
						<a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
					</div>
				</div>

				<img src="{{ asset('bundles/frontend/img/demo/iphoneview.png')}}" class="pull-right display-image" alt="" style="width:210px">

			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h5 class="about-heading">Not just your average template!</h5>
					<p>
						Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
					</p>
				</div>
			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
			<div class="well no-padding">
				{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'smart-form client-form' } }) }}

					<header>
						Modification de mot de passe
					</header>

					<fieldset>
						<section>
							{{ form_label(form.plainPassword.first)}}
							<label class="input"> <i class="icon-append fa fa-user"></i>
								{{ form_widget(form.plainPassword.first)}}
								<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Saisissez votre nouveau mot de passe</b></label>
						</section>

						<section>
							{{ form_label(form.plainPassword.second)}}
							<label class="input"> <i class="icon-append fa fa-lock"></i>
								{{ form_widget(form.plainPassword.second)}}
								<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Confirmez votre mot de passe</b> </label>
						</section>

					</fieldset>
					<footer>
						<button type="submit" class="btn btn-primary">
							{{ 'resetting.reset.submit'|trans }}
						</button>
					</footer>

				{{ form_end(form) }}

			</div>

			<h5 class="text-center"> - Or sign in using -</h5>

				<ul class="list-inline text-center">
					<li>
						<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>

		</div>
	</div>
</div>
{% endblock %}
