{# src/Frontend/Resources/views/Shared/frontend-head.html.twig #}

<head>
  <meta charset="utf-8">
  <title> {{ siteName }}</title>
  <meta name="description" content="{{ siteDescription }}">
  <meta name="author" content="Olivier Fillol">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {# Feuilles de style #}
  {% block stylesheets %}
  <!-- #CSS Links -->
  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/font-awesome.min.css')}}">

  <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/smartadmin-production.min.css')}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/smartadmin-skins.min.css')}}">

  <!-- SmartAdmin RTL Support -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/smartadmin-rtl.min.css')}}">

  <!-- Styles spécifiques au frontend de proGasso -->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/frontend/css/progasso.css')}}">
  {% endblock %}

  <!-- #FAVICONS -->
  <link rel="shortcut icon" href="{{ asset('bundles/frontend/img/favicon/favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{ asset('bundles/frontend/img/favicon/favicon.ico')}}" type="image/x-icon">

  <!-- #GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  {% block googleFonts %}{% endblock %}

  <!-- #APP SCREEN / ICONS -->
  <!-- Specifying a Webpage Icon for Web Clip
     Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <link rel="apple-touch-icon" href="{{ asset('bundles/frontend/img/splash/sptouch-icon-iphone.png')}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/frontend/img/splash/touch-icon-ipad.png')}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/frontend/img/splash/touch-icon-iphone-retina.png')}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/frontend/img/splash/touch-icon-ipad-retina.png')}}">

  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Startup image for web apps -->
  <link rel="apple-touch-startup-image" href="{{ asset('bundles/frontend/img/splash/ipad-landscape.png')}}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="{{ asset('bundles/frontend/img/splash/ipad-portrait.png')}}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="{{ asset('bundles/frontend/img/splash/iphone.png')}}" media="screen and (max-device-width: 320px)">

</head>
